img {
  width: 50px;
}
#face {
  width: 400px;
}

#hat {
  position: absolute;
  left:110px;
  width: 200px;
}

#mouth2 {
  position: absolute;
  top: 300px;
  left: 100px;
  width: 200px;
  z-index: 1;
}

#HAL {
  position: absolute;
  top: 180px;
  left:150px;
  width: 120px;
}

#ears1 {
  position: absolute;
  top: 60px;
  left: 0;
  width: 400px;
}